body{
    font-family: 'Quicksand', sans-serif;
    overflow-x:hidden;
}

.top-section{

    background-image: url("../static/img/computers2.jpg");
    padding:0px;
    color:white;
    min-height: 100vh;
    background-size: cover;
    text-shadow: 2px 2px #000000;
}

.p6{
    padding:100px;
}

.typed-row{
    position: relative;
    top:10vh !important;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s; 
}

.typed-element{
    display:unset;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    width: 100%;
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px;
    transition: margin-left .5s;
}

.lead-consultant{
   border-bottom: solid 1px white;
}

.lead-consultant > a{
    font-size:14px!important;
}

.main-headings{
    background-color: #111111;
    color:white;
    padding-left:20px;
    margin:0px;
    z-index:9999;
}

h2{

    font-weight: 900;
}

.custom-nav-drawer{
    padding: 0px 10px 0px 10px;
    position: fixed;
    background:white;
    border-radius:3px;
    border:solid 1px #ccc;
}

.ksankar{
    border-radius: 100px;
}

.porfolio-images{
    width:70%;
    border: solid 1px rgb(196, 189, 189);
    padding:10px;
    border-radius: 5px;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.about-section{

    min-height:100vh;
}

.skillset-section{
    min-height:100vh;
    background: #eee;
}

.contact-section{
    min-height:100vh;
    background: #eee;
}

.about-author-footer{

    font-size: 14px;
}

.card-header{
    background: #007bff;
    color: #fff;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #007bff;
  }
  
  .hov-container:hover .overlay {
    opacity: 1;
  }
  
  .text-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-overlay > a{
      text-decoration: none;
  }

  a.btn.btn-primary{
      color:white;
  }

  a.btn.btn-primary:hover{
    color:white;
    }
  .text-overlay > a {

    color: white;
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 600px) {
    .p6{padding:0px;}

    .sidenav {
        width: 0px;

    }
    .main {
        margin-left: 0px;

    }
}